:root {
  --background-color:linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}


.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 70%;
  margin: 0 auto;
}