



* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(241, 241, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pointer {
  cursor: pointer;
}
.flex {
  display: flex;
}

.hidden {
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.center {
  align-items: center;
  justify-content: center;
}

.customize-scrollbar::-webkit-scrollbar {
  /* width: 10px; */
  background-color: aqua;
  border-radius: 20px;
}
.customize-scrollbar::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 20px;
  width: 4px;
  background-color: rgb(94, 78, 235);
}