.stories-bar {
    margin-top: 10px;
    height: 100px;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 4px;
    overflow-x: auto;
}

.stories-list {
    list-style: none;
    display: flex;
    flex-direction: row;
}